@import url('http://fonts.cdnfonts.com/css/gill-sans');
@import url('http://fonts.cdnfonts.com/css/lato');

:root {
  --main: #ec4c8a;
  --first: #fc5193;
  --second: #e64684;
  --third: #d4457b;
  --dark: #cf4277;
}

* {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Lato', sans-serif;
}

body {
  background-color: var(--main);
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navMenu {
  display: flex;
  gap: 20px;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 30rem);
  justify-content: center;
  margin-top: 50px;
}

.products > div {
  border: 1px solid #cf4277;
  background-color: #ce3771;
  height: 200px;
}

.products > div:nth-child(4n+1),
.products > div:nth-child(4n+3) {
  background-color: #cf4277;
}

.products p {
  margin: 20px;
  color: #fff;
  font-weight: bold;
  width: 20rem;
}

.products img {
  width: 99%;
  height: 200px;
}
